<header class="bg-danger text-center py-5 mb-4">
  <h3 class="h2 text-white font-weight-light" @fade>Pandemic data</h3>
  <h1 class="h1 text-white font-weight-bold" @fade>LIVE {{currentDate}}</h1>
</header>
<hr>
<div class="container" @slide>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-danger btn-md" disabled >select country:</button>
    </div>
    <select class="custom-select" id="country_selector" (change)="GetCountrySlug($event)">
      <option Value="">---</option>
      <option *ngFor="let country of listOfCountries" value="{{country.Slug}}">{{country.Country}}</option>
    </select>
  </div>
</div>
<hr>

<h3 @fade class="h2 text-center">Total cases:</h3>
<p></p>
<p></p>
<div class="container" >

  <ul class="list-group">
    <li class="list-group-item">
      <h5 class="h4 text-center" @fade>Confirmed: {{t_confirmed}}  <span class="badge badge-danger badge-pill">+{{t_new}} New</span></h5>
    </li>
    <li class="list-group-item">
      <h5 class="h4 text-center" @fade>Deaths: {{t_deaths}}</h5>
    </li>
    <li class="list-group-item">
      <h5 class="h4 text-center" @fade>Recovered: {{t_recovered}}</h5>
    </li>
    <li class="list-group-item">
      <h5 class="h4 text-center" @fade>Active: {{t_active}}</h5>
    </li>
  </ul>
</div>

<hr>

<h3 @fade class="h2 text-center">Graph:</h3>
<p></p>
<p></p>
<div class="container">
  <div class="conatiner">
    <p>
      <button class="btn btn-block btn-outline-danger" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseExample" @slide>
        Display
      </button>
    </p>
    <p></p>
    <p></p>
    <div class="collapse" id="collapseInfo">
      <div class='card text-center'>
        <div class='card-header text-white bg-danger mb3'>
          Advice
        </div>
        <div class="card-body">
          Information can be hidden to have a better look at other rates.
        </div>
      </div>
      <p></p>
      <p></p>
      
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-danger btn-md" disabled >display for:</button>
          </div>
          <select class="custom-select" id="month_selector" (change)="ChangeChartDisplay($event)">
            <option Value="">Every month</option>
            <option *ngFor="let month of monthsArr" value="{{month}}">{{month}}</option>
          </select>
        </div>
      
      <hr>
      <!--chart-->
      <canvas baseChart @fade
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
      ></canvas>
    </div>
  </div>
</div>
<hr>
<h3 @fade class="h2 text-center">Daily reports:</h3>
<p></p>
<p></p>
<div class="container" @slide>
  <div id="accordion">
    
      
        <p>
          <button class="btn btn-block btn-outline-danger" data-toggle="collapse" data-target="#collapsedCaseList" aria-expanded="true" aria-controls="collapseOne">
            Show
          </button>
        </p>
      
  
      <div id="collapsedCaseList" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        
          <div class="container text-center table-responsive">
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th class="bg-danger" scope="col">Date</th>
                    <th class="bg-danger" scope="col">Confirmed</th>
                    <th class="bg-danger" scope="col">Deaths</th>
                    <th class="bg-danger" scope="col">Recoved</th>
                    <th class="bg-danger" scope="col">Active</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let case of listOfCases" @slide>
                    <th class="bg-danger" scope="row">{{case.Date}}</th>
                    <td>{{case.Confirmed}}</td>
                    <td>{{case.Deaths}}</td>
                    <td>{{case.Recovered}}</td>
                    <td>{{case.Active}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
        
      </div>
    
  </div>
</div>

