<!-- Header -->
<header class="bg-danger text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white" @fade>Find me on social media</h1>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3  mb-4" @fade>
        <div class="card border-0 shadow">
          <img src="./assets/Profile.jpg" class="card-img-top">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Daniel Rivero</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>

      <div class="col-lg-3  mb-4" @fade>
        <div class="card border-0 shadow">
            <a href="https://github.com/SergeantAvocado">
                <img src="./assets/github-image.png" class="card-img-top">
            </a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Github</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3  mb-4" @fade>
          <div class="card border-0 shadow">
            <a href="https://www.instagram.com/thesergeantavocado/">
                <img src="./assets/instagram.png" class="card-img-top">
            </a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Instagram</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3  mb-4" @fade>
          <div class="card border-0 shadow">
            <a href="https://twitter.com/SergeantAvocado">
              <img src="./assets/twitter.png" class="card-img-top">
            </a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Twitter</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->